body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

@keyframes blurEffect {
    from {filter : blur(0px);}
    to {filter : blur(4px);}
}

.blurBoard{
    filter : blur(4px);
    animation-name: blurEffect;
    animation-duration: 1s;
}

#board {
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    box-shadow: 10px 10px 5px lightblue;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes newTile {
    from{opacity: 0;}
    to{opacity: 100;}
}

.animatedTile {
    animation-name: newTile;
    animation-duration: 0.8s;
    /* animation-delay: 0.08s; */
}


/* colored tiles */

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}



/* Buttons */

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {background-color: #4CAF50;} /* Green */
  .button2 {background-color: #008CBA;} /* Blue */



  /* Styling of Game */

  .column {
    margin-left: 20px;
    float: left;
    width: 50%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #board {
    margin-left: 6em;
  }



  /* Welcome Screen */

  .welcomeText{
    position: absolute;
    left: 510px;
    bottom: 30px;
  }

  .welcomeScreen {
    font-size: 12rem;
    opacity: 0;
    background-color: whitesmoke;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    animation-name: welcomeAnimation;
    animation-duration: 2s;
  }

  @keyframes welcomeAnimation {
    from{opacity: 100;}
    to{opacity: 0;}
  }


  /* Game Screen */

  .gameScreen {
    opacity: 0;
    animation-name: gameAnimation;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes gameAnimation {
    from {opacity: 0;}
    to{opacity: 100;}
  }
